@model mvc4gw7.Models.RegisterModel
@{
    ViewBag.Title = "Регистрация";
    ViewBag.Subtitle = "Создание новой учетной записи";
}

<div class="logo">
    <img src="/Content/Logo.png" alt="Logo"/>
</div>

<div class="title">
    <h1>@ViewBag.Title</h1>
    <h2>@ViewBag.Subtitle</h2>
</div>

<div class= "form_type_B">
@using (Html.BeginForm()) {
    @Html.ValidationSummary()
        <ol>
            <li>
                @Html.LabelFor(m => m.UserName)
                <br />
                @Html.TextBoxFor(m => m.UserName)
            </li>
            <li>
                @Html.LabelFor(m => m.Password)
                <br />                
                @Html.PasswordFor(m => m.Password)
            </li>
            <li>
                @Html.LabelFor(m => m.ConfirmPassword)
                <br />                
                @Html.PasswordFor(m => m.ConfirmPassword)
            </li>
            <li>
                @Html.LabelFor(m=>m.Surname)
                <br />                
                @Html.TextBoxFor(m=>m.Surname)
            </li>
            <li>
                @Html.LabelFor(m=>m.Name)
                <br />                
                @Html.TextBoxFor(m=>m.Name)
            </li>
            <li>
                @Html.LabelFor(m=>m.Patronymic)
                <br />                
                @Html.TextBoxFor(m=>m.Patronymic)
            </li>
            <li>
                @Html.LabelFor(m=>m.Email)
                <br />                
                @Html.TextBoxFor(m => m.Email)
            </li>
        </ol>
        <input type="submit" value="Регистрация" />
}
</div>

<div class="footer">

    <h5>
        @Html.ActionLink("На главную","Index","Home")
    </h5>

</div>
